body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
   
}
#section-1{
    background-color: rgba(34, 17, 1, 0.788);
    height: 600px;
    color: white;
}
.container{
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}
header{
    padding: 55px;
    display: flex;
    justify-content: space-around;
}
nav ul li{
    display: inline-block;
    padding: 10px 16px;
}
nav ul li.active{
    background-color: rgba(58, 34, 10, 0.507);
}